
header button#catalogo{

    background-color: #ec7359;
}

header button#catalogo:hover{

    opacity: 0.9;

}

main{

    display: grid;
    grid-template-columns: 17% auto;
    grid-template-areas: "filtros publicaciones";
    padding: 0 1em;
}

main section.filters{

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border: 1px none;
    border-right-style: solid;
    font-size: 1em;
}

main section.filters h3.filter-word{
    text-align: center;
    padding-top: 0.8em;

}

main section.filters article{
    display: flex;
    flex-direction: column;
    gap:0.5em;

}

main section.filters article form.categories{

    display: flex;
    flex-direction: column;
    gap:0.5em;

}


main section.filters button.btn-filtrar{
    border-radius: 1em;
    width: 50%;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0.5em;
    font-size: 1em;
}

main section.catalogo{

    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "Título"
    "publicaciones";
    padding: 0.5em 1em;
    overflow: auto;
    max-height: 100vh;


}


main section.catalogo h1{

    grid-row: 1;
    font-size: 3em;
    text-align: center;
    padding: 0.5em 0;

}

main section.catalogo section.publications{
    grid-row: 2;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(230px, 0.5fr));
    gap: 3em;
}

main section.catalogo section.publications article{

    box-shadow: 0 0.2em 0.5em 0.3em #cccccc;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
    "img"
    "features"
    "button";
    border-radius: 1em;
    padding:0.7em;
    row-gap: 0.5em;
    flex: 0.5 0 12em;
}

/*This style prevents articles deformation caused by text length.*/
main section.catalogo section.publications article p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}

main section.publications article div.detail-publication{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5em;

}

main section.publications article img{

    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    display: block;

}


main section.publications article button{

    border-radius: 1em;
    font-size: 1em;;
    border: none;

}

.filters_mobile{
    display: none;
}


@media (max-width: 480px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "filtros"
            "publicaciones";
        padding: 0;
        position: relative;
    }

    main section.filters {
        display: none;
    }

    main section.filters h3.filter-word {
        font-size: 1em;
    }

    main section.catalogo {
        padding: 0.5em 1em;
        overflow: initial;
    }

    main section.catalogo h1 {
        font-size: 1.8em;
    }

    main section.catalogo section.publications {
        grid-template-columns: 1fr;
        gap: 6em;
        place-items: center

    }

    main section.catalogo section.publications article {
        max-width: 100%;
        width: 80%;


    }

    .filters_mobile{

        display:grid;
        grid-template-rows: auto;
        grid-template-areas:
            "title"
            "checkboxes"
            "filtrar_btn";
        width: 100%;
        position: absolute;
        place-items: center;
        border: 2px solid;
        border-top: none;
        padding: 1em 0;
        row-gap: 1.5em;
        background-color: white;


    }

    #checkBoxes-filters-mobile-id{

        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas:
            "Tipo Marca"
            "Color Precio";
        column-gap: 5em;
    }

    #checkBoxes-filters-mobile-id article{

        display: flex;
        flex-direction: column;
        gap:0.5em;

    }

    #checkBoxes-filters-mobile-id article input[type="checkbox"]{

        height: 20px;
        width: 20px;
    }


    #checkBoxes-filters-mobile-id article div{

        padding: 0.3em;
    }



    #filter-btn-mobile-id{

        border-radius: 1em;
        width: 50%;
        display: block;
        margin: 0 auto;
        border: none;
        padding: 0.5em;
        font-size: 1em;


    }



}
