header button#catalogo{

    background-color: #ec7359;
    color: black;
}

header button#catalogo:hover{

    opacity: 0.9;

}

main{

    padding: 3em;
    display: grid;
    grid-auto-rows: 1fr auto;
    row-gap: 2em;
    grid-template-areas:
            "detail"
            "articles";
}

main section.detail{

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
                    "text button";

}

main section.detail article{

    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

main section.detail div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
    align-self: self-start;
}

main section.detail button{
    width: 60%;
    height: auto;
    border-radius: 0.4em;
    font-size: clamp(0.5em, 2vw, 1em);
    border-style: none;
    padding: 0.8em 2em;
    font-weight: bold;


}

main section.articulos{

    display: flex;
    flex-direction: column;
    gap: 3em;


}

main section.articulos article{
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-areas: "details images";
    padding: 2em 1em;
    border-radius: 1.5em;
    box-shadow: 0 0.2em 0.5em 0.3em #cccccc;
}

main section.articulos article div.details_article{

    display: flex;
    flex-direction: column;
    gap:2em;

}

main section.articulos article div.article_image{

    padding: 1em;

}

.arrow-btn{

    background-color: transparent;
    height: 5vh;
    width: 8vw;
    border-style: none;
    border-radius: 100%;

}


.arrow-btn:hover{

    background-color: #edeaea;


}

.images-articles-layout{

    display: flex;
    flex-direction: row;
    gap: 2em;
}

@media (max-width: 480px) {

    main{

        row-gap: 2em;
        grid-template-areas:
            "detail"
            "articles";
        margin: auto;
        padding: 1.5em 1em;
    }

    main section.detail div{
        padding: 0 1em 1em 1em;
    }

    main section.detail button{

        border-radius: 0.8em;
        width: 100%;
        font-size: clamp(0.5em, 5vw, 1em);
    }

    main section.articulos{
        gap: 1em;
    }

    .images-articles-layout{

        padding: 0.5em;
        display: grid;
        grid-template-columns: 0.2fr 3.6fr 0.2fr;
        grid-template-areas: "leftArrow img RightArrow";
        column-gap: 0.3em;
        place-items: center;

    }

}
