header button#catalogo{

    background-color: black;
    color: white;
}

main{

    padding: 3em;
    display: grid;
    grid-auto-rows: 1fr auto;
    row-gap: 2em;
    grid-template-areas:
            "detail"
            "articles";
}

main section.detail{

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
                    "text button";

}

main section.detail article{

    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

main section.detail div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
    align-self: self-start;
}

main section.detail button{
    background-color: black;
    color: white;
    width: 60%;
    height: auto;
    border-radius: 0.4em;
    font-size: 1.1em;
    border-style: none;
    padding: 0.8em 2em;
    font-weight: bold;

}

main section.articulos{

    display: flex;
    flex-direction: column;
    gap: 3em;


}

main section.articulos article{
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-areas: "details images";
    border: 0.1em solid;
    padding: 2em 1em;
    border-radius: 1.5em;

}

main section.articulos article div.details_article{

    display: flex;
    flex-direction: column;
    gap:2em;

}

main section.articulos article div.article_image{

    border: 0.1em solid;
    padding: 1em;
    border-radius: 1em;

}


@media (max-width: 480px) {

    main{

        row-gap: 2em;
        grid-template-areas:
            "detail"
            "articles";
        margin: auto;
        padding: 1.5em 1em;
    }

    main section.detail div{
        padding: 0 1em 1em 1em;
    }

    main section.detail button{

        border-radius: 0.8em;
        width: 100%;
    }

    main section.articulos{
        gap: 1em;
    }

}
