
*{

    margin: 0;
    font-family: Arial, serif;

}

button{

    background-color: #1e3a5f;
    color: #f8f5f5;
    transition: background-color 0.3s ease;

}

button:hover{

    cursor: pointer;
    background-color: #D64309;


}

header button{
    padding: 0.2em clamp(1em, 4vw, 3em);
    font-size: 1.1em;
}

.login-header{

    text-decoration: none;
    color: #D64309;
}

.login-header:hover{

    color:#1e3a5f;
}

.label-search-button{

    cursor: pointer;

}

/*Box model body - Remember that each page will have this template*/

body{

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "header"
    "main";
    background-color: white;
}

main{
    color: #39300f;
}

/*Header*/

header{

    border: 2px solid;
    border-top: none;

}

header section.titulo-app  div.titulos-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}



header .SecondLife{

    display: flex;
}

header section.titulo-app h1{

    font-size: clamp(2em, 9vw, 5em);
}

header section.titulo-app h2{

    font-size: 1em;
    font-weight:lighter;
    opacity: 0.7;
}

header section.titulo-app button {
    display: none;
}


/*nav-bar*/

nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 0.1em;
}

nav div.buttons-container{
    grid-column: 2;
    display: flex;
    gap: clamp(0.5em, 4vw, 5em);
    width: auto;
}

nav div.buttons-container button{
    width: auto;
    font-weight: bold;
    border-radius: 1em;
    border: 2px solid;
    white-space: nowrap;

}

nav div.button-usuario-container{
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:0.5em;
    font-size: 0.8em;
    margin-left: 2em;
    color: #39300f;
}

nav div.button-usuario-container button{

    padding:0;
    margin: 0;
    border: none;
    background-color: white;

}

nav div.button-usuario-container img{

    width: 3em;
    height: auto;
}

/* Search input styles */

header section.query-selection{

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.5em;
}

header  form.search-container{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1.6em;

}


header  form.search-container input{
    border-radius: 0.7em;
    border: 2px solid;
    padding: 0.4em 2em;
    width: 72%;
    min-width: 481px;
    max-width: 530px;
}

header  form.search-container input:focus{

    outline-style: solid;
    outline-color:#1e3a5f;
    border: 2px solid #1e3a5f;
}


header  form.search-container button.search-button{
    width: auto;
    font-weight: bold;
    border-radius: 1em;
    border: 2px solid;
    padding: 0.2em 3.5em 0.2em 3.5em;
}


input[type="checkbox"]{

    accent-color: #D64309;
    cursor: pointer;
}

.not-found{

    width: 100%;
    display: flex;
    justify-content: center;
}

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

.toast.success {
    background-color: #4CAF50;
}

.toast.error {
    background-color: #f44336;
}

@media (max-width: 480px) {
    header section.titulo-app {
        margin: 0.5em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "app-titulo perfil";

    }

    header section.titulo-app div.titulos-container{

        grid-column:1;
        margin-left: auto;

    }

    header section.titulo-app h1 {
        font-size: 2em;
    }

    header section.titulo-app h2 {
        font-size: 0.8em;
    }

    header section.titulo-app button.button-perfil-usuario {
        border: none;
        display: flex;
        background-color: white;
    }

    header section.titulo-app button.button-perfil-usuario img{

        width: 5em;
        height: auto;

    }


    header button {
        padding: 0.2em 1.5em 0.2em 1.5em;
        font-size: 0.9em;
    }

    nav {
        grid-template-columns: 1fr;
        column-gap: 0;
        padding: 0.5em;
    }

    nav div.buttons-container {
        grid-column: 1;
        gap: 0.5em;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav div.buttons-container button {
        width: 100%;
        padding: 0.4em 1em;
        font-size: 0.85em;
    }

    nav div.button-usuario-container {
        grid-column: 1;
        flex-direction: column;
        gap: 0.3em;
        font-size: 0.7em;
    }

    nav div.button-usuario-container{
        display: none;
    }

    header section.query-selection {
        grid-template-columns: 1fr;
        padding: 0.3em;
    }

    header form.search-container {
        grid-column: 1;
        flex-direction: row;
        gap: 0.5em;
    }

    header form.search-container input {
        width: 100%;
        padding: 0.4em 1em;
        font-size: 0.9em;
        min-width: initial;
        max-width: initial;
    }

    header form.search-container button.search-button {
        width: 100%;
        padding: 0.3em 0.8em;
        font-size: 0.85em;
    }

    header form.search-container button.filters-button{

        padding:0;
        margin: 0;
        border: none;
        display: flex;
        background-color: white;

    }

    header form.search-container button.filters-button img{

        width: 3em;
        height: auto;
        display: flex;
    }
}



